* {
  box-sizing: border-box !important;
}

html,
body {
  padding: 0;
  margin: 0;
}

#send-box {
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
}

#send-box:focus {
  border: none;
  outline: none;
}
