@import-normalize;

html,
body {
  padding: 0;
  margin: 0;
}

#term-textfield {
  border: none;
  outline: none;
  background-color: inherit;
  color: lightgrey;
  font-size: inherit;
  font-family: inherit;
  resize: none;
}

pre {
  margin: 0;
  word-wrap: break-word;
}
